@using System.Text.RegularExpressions
@model ServiceDeskUCAB.ViewModel.PlantillaNotificaciones.PlantillaEditarViewModel;
@{
    ViewData["Title"] = "Plantilla Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5">
    <div class="card-header p-2">
        <h1 class="fs-3 mb-0 text-center">Editar Plantilla de Notificación</h1>
    </div>
    @if (Context.Request.Query["message"].Count() > 0)
    {
        <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
            <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="card-body">

        <form asp-action="EditarPlantilla" asp-controller="PlantillaNotificacion" method="post">

            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <input asp-for="Plantilla.Id" name="id" type="hidden" />
                        <div class="mb-3">
                            <label class="form-label fs-6 fw-bold mb-1">Titulo</label>
                            <input required type="text" class="form-control form-control-sm" asp-for="Plantilla.Titulo" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label fs-6 fw-bold mb-1">Mensaje</label>
                            <textarea id="mensajePlantilla" required class="form-control form-control-sm" rows="5" asp-for="Plantilla.Descripcion"></textarea>
                            <p class="mb-0 fs-6">
                                @if(Model.TipoEstados != null){
                                    @foreach (var estado in Model.TipoEstados)
                                    {
                                        @if (Model.Plantilla.TipoEstado != null && Model.Plantilla.TipoEstado.Id == estado.Id)
                                        {
                                            if (@estado.Etiqueta.Count() == 0)
                                            {
                                                <div class="etiquetas-tipoestado" id="etiquetas-@Regex.Replace(estado.Nombre, @"\s+", String.Empty)">
                                                    <label class="form-label fs-6 fw-bold mb-0 mt-2">Etiquetas:</label>
                                                    <span class="fst-italic text-danger">No tiene etiquetas asociadas</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="etiquetas-tipoestado" id="etiquetas-@Regex.Replace(estado.Nombre, @"\s+", String.Empty)">
                                                    <label class="form-label fs-6 fw-bold mb-0 mt-2">Etiquetas:</label>
                                                    @foreach (var etiqueta in @estado.Etiqueta)
                                                    {
                                                        <a onclick="escribirMensaje(this);" tabindex="0" style="font-size: 13px" class="btn btn-sm btn-primary p-0 ps-1 pe-1" role="button" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" title="Descripción de etiqueta" data-bs-content="@etiqueta.Descripcion">@etiqueta.Nombre</a>
                                                    }
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            if (@estado.Etiqueta.Count() == 0)
                                            {
                                                <div class="etiquetas-tipoestado" style="display: none" id="etiquetas-@Regex.Replace(estado.Nombre, @"\s+", String.Empty)">
                                                    <label class="form-label fs-6 fw-bold mb-1 mt-2">Etiquetas:</label>
                                                    <span class="fst-italic text-danger">No tiene etiquetas asociadas</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="etiquetas-tipoestado" style="display: none" st id="etiquetas-@Regex.Replace(estado.Nombre, @"\s+", String.Empty)">
                                                    <label class="form-label fs-6 fw-bold mb-0 mt-2">Etiquetas:</label>
                                                    @foreach (var etiqueta in @estado.Etiqueta)
                                                    {
                                                        <a onclick="escribirMensaje(this);" tabindex="0" style="font-size: 13px" class="btn btn-sm btn-primary p-0 ps-1 pe-1" role="button" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="focus" title="Descripción de etiqueta" data-bs-content="@etiqueta.Descripcion">@etiqueta.Nombre</a>
                                                    }
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </p>
                        </div>

                    </div>
                    <div class="col-4">
                        @if (Model.Plantilla.TipoEstado != null)
                        {
                            <div class="mb-2 ">
                                <label class="form-label fs-6 fw-bold mb-1 d-block">Estado actual de la plantilla:</label>
                                <p class="badge rounded-pill bg-primary mb-1 fs-6 fw-normal">@Model.Plantilla.TipoEstado.Nombre</p>
                                <p class="mb-0 fs-6 fst-italic">@Model.Plantilla.TipoEstado.Descripcion</p>
                            </div>
                            <hr />
                        }
                        else
                        {
                            <div class="mb-2">
                                <label class="form-label fs-6 fw-bold mb-1">Estado asociado:</label>
                                <p class="mb-0 fs-6 text-danger">Sin tipo de estado</p>
                                <p class="mb-0 fs-6 fst-italic">Esta plantilla no tiene tipo de estado asociado</p>
                            </div>
                            <hr />
                        }
                        <div class="mb-2">
                            @if (Model.TipoEstados != null){
                                <label class="form-label fs-6 fw-bold mb-1">Asignar nuevo tipo de estado:</label>
                                <select name="plantilla.TipoEstadoId" id="TipoEstadoSelect" asp-for="Plantilla.TipoEstado.Id" onchange="mostrarEtiquetas();" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="@null">- Sin estado asociado -</option>
                                    @if (Model.Plantilla.TipoEstado != null)
                                    {
                                        @foreach (var estado in Model.TipoEstados)
                                        {
                                            if (estado.Id == Model.Plantilla.TipoEstado.Id)
                                            {
                                                <option value="@estado.Id" selected>@estado.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@estado.Id">@estado.Nombre</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var estado in Model.TipoEstados)
                                        {
                                            <option value="@estado.Id">@estado.Nombre</option>
                                        }
                                    }
                                </select>
                            }else{
                                <p class="fst-italic text-danger mb-1">No existen estados asociados en el sistema</p>
                                <a asp-action="EstadoNuevo" asp-controller="EstadoTicket" asp-route-id="@null" class="btn btn-primary btn-sm">Agregar tipo de estado</a>
                            }
                        </div>
                        @if(Model.TipoEstados != null){
                            @foreach (var estado in Model.TipoEstados)
                            {
                                if (Model.Plantilla.TipoEstado != null && estado.Id != Model.Plantilla.TipoEstado.Id)
                                {
                                    <div style="display: none" class="p-1 mb-2 descripcion-estados border-bottom border-1 mt-1" id="descEstado-@Regex.Replace(estado.Nombre, @"\s+", String.Empty)">
                                        <p style="font-size: 14px" class="mt-0 mb-1 fst-italic">@estado.Descripcion</p>
                                    </div>
                                }
                                else if (Model.Plantilla.TipoEstado == null)
                                {
                                    <div style="display: none" class="p-1 mb-2 descripcion-estados border-bottom border-1 mt-1" id="descEstado-@Regex.Replace(estado.Nombre, @"\s+", String.Empty)">
                                        <p style="font-size: 14px" class="mt-0 mb-1 fst-italic">@estado.Descripcion</p>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <div class="mb-0 text-center">
                <button type="submit" class="btn btn-success btn-sm">Guardar cambios</button>
                <a asp-action="PlantillasNotificacion" asp-controller="PlantillaNotificacion" class="btn btn-secondary btn-sm">Volver a la lista de plantillas</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function mostrarEtiquetas() {
        /* Para obtener el valor */
        var etiquetasTipoestado = document.querySelectorAll(".etiquetas-tipoestado")
        for (var i = 0; i < etiquetasTipoestado.length; i++) {
            etiquetasTipoestado[i].style.display = "none";
        }

        var descripcionEstados = document.querySelectorAll(".descripcion-estados")
        for (var i = 0; i < descripcionEstados.length; i++) {
            descripcionEstados[i].style.display = "none";
        }

        var selectTipoEstado = document.querySelector("#TipoEstadoSelect");
        var selected = selectTipoEstado.options[selectTipoEstado.selectedIndex].text.replace(/\s+/g, '');

        if (selectTipoEstado.value.length > 0) {
            var etiquetas_selected = document.querySelector("#etiquetas-" + selected);
            etiquetas_selected.style.display = "block";

            if (document.querySelector("#descEstado-" + selected)) {
                var descEstado_selected = document.querySelector("#descEstado-" + selected);
                descEstado_selected.style.display = "block";
            }

        }

    }

    function escribirMensaje(el) {
        document.querySelector("#mensajePlantilla").value += " " + el.innerHTML;
    }


</script>

