@model IEnumerable<ServicesDeskUCABWS.Models.Tipo_Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_ult_edic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_elim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minimo_Aprobado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_creacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ult_edic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_elim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minimo_Aprobado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
