@model Tuple<List<ServiceDeskUCAB.Models.DepartamentoModel>,ServiceDeskUCAB.Models.DepartamentoModel, ServiceDeskUCAB.Models.GrupoModel>

@{
    ViewData["Title"] = "Gestion Departamento";
    
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@*<script>
    $("form").submit(function () {
        //var formulario = $('form');
        //$('#btnCrear').click(function (event) {
            
            var selectedCheckbox = new Array();
            var tablaDepartamentos = $('#DeptTable');
            var checks = $('input');
            for (var i = 0; i < checks.length; i++) {
                if(checks[i].checked){
                    selectedCheckbox.push(checks[i].value);                    
                }
               
            }       

            var arrays = selectedCheckbox.toString();
            
            console.log(selectedCheckbox, "este es select");
            $('#oculto').val(arrays);
            console.log($('#oculto').val(arrays), "este es el input");
            
            
            //$.get(url).done(function (data) {
            //    console.log(data, "este es data");
            //    //input.html(data);
                
            //})

            

                   
                     

        //})
    })

  

</script>*@

<head>
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />    
</head>

<!-- Importacion de librerias -->

    

@*
 <script>
        function obtenerID() {
            //Array de checkboxs.
            var selectedCheckbox = new Array();

            //Reference the Table.
            var tablaDepartamentos = document.getElementById("DeptTable");

            //Reference all the CheckBoxes in Table.
            var checks = tablaDepartamentos.getElementsByTagName("input");            

            // Loop and push the checked CheckBox value in Array.
            for (var i = 0; i < checks.length; i++) {
                if (checks[i].checked) {
                    selectedCheckbox.push(checks[i].value);
                    
                }
                else{
                    if (checks[i] > -1) { 
                        selectedCheckbox.splice(checks[i], 1);
                        console.log(selectedCheckbox);
                    }
                }
            }

            var arrayString = selectedCheckbox.toString();
            console.log(arrayString);
            return arrayString.replace("ultimo",arrayString);
        
        }
 </script>*@


 

<!-- Ventana emergente para agregar grupo -->

<div class="modal fade" id="popUpAgregar" tabindex="-1" role="dialog" aria-labelledby="popUpEditarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Grupo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("RegistrarGrupo", "DepartamentoYGrupo", FormMethod.Post))
            {
                <div class="modal-body">
                    <span>Nombre: </span> @Html.TextBoxFor(m => m.Item3.nombre, new {name = "nombre"})
                    @Html.ValidationMessageFor(m => m.Item3.nombre ,null, new { @class = "text-danger" })
                    <br />
                    <br />
                    <span>Descripcion: </span> @Html.TextAreaFor(m => m.Item3.descripcion, new {name = "descripcion"})
                    @Html.ValidationMessageFor(m => m.Item3.descripcion ,null, new { @class = "text-danger" })
                    <br />
                    <br />
                   
                   @* @Html.TextBoxFor(m => m.Item2.listaGuid,null,new {@style = "display:none;", id = "oculto"})*@
                    <table class="table" id="DeptTable">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Nombre
                            </th>
                                                        
                        </tr>

                        @foreach (var item in Model.Item1)
                        {
                            <tr>
                                <td class="id" style="display:none";>
                                    @Html.DisplayFor(i => item.id)
                                </td>
                                <td>
                                    <input class="check" name="idDepartamentos" id="@item.id" type="checkbox" value="@item.id" />
                                </td>
                                <td>
                                    @Html.DisplayFor(i => item.nombre)
                                </td>                              
                                
                            </tr>
                        }

                    </table>
                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnCrear" class="btn btn-primary">Crear</button>
                </div>
            }

            @*<button type="button"  data-toggle="Prueba" class="btn btn-primary">dfgsdgds</button>*@

        </div>
    </div>
</div>

@*
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>*@











