@model Tuple<List<ServicesDeskUCABWS.BussinesLogic.DTO.DepartamentoDTO.DepartamentoDto>,List<ServicesDeskUCABWS.BussinesLogic.DTO.GrupoDTO.GrupoDto>>

<head>
    <link rel="stylesheet" href="~/css/Sidebar.css" />
</head>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-url="@Url.Action("CrearDepartamentoView")">
    Launch demo modal
</button>

@*<script>
    function redirectOnClick() {
        document.location = '/DepartamentoYGrupo/RegistrarDepartamento';
    }
</script>*@

<div id="Placeholder"></div>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>

    </tr>

    @foreach (var item in Model.Item1)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(i => item.descripcion)
            </td>

        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>

    </tr>

    @foreach (var item in Model.Item2)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(i => item.descripcion)
            </td>

        </tr>
    }

</table>
