@model ServiceDeskUCAB.ViewModel.DepartamentoGrupo.DepartamentoAsociarViewModel

@{
    ViewData["Title"] = "Gestion Departamento";

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<head>
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
</head>

<!-- Ventana emergente para agregar grupo -->

<div class="modal fade" id="popUpAgregar" tabindex="-1" role="dialog" aria-labelledby="popUpEditarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Asociar Departamento a @ViewData["nombre"]</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("AsociarGrupo", "DepartamentoYGrupo", FormMethod.Post))
            {
                <div class="modal-body">

                    @Html.TextBoxFor(m => m.grupo.id, new { @Value = Model.grupo.id, @type="hidden"})
                   
                    <table class="table" id="DeptTable">
                        <tr>
                            <th>
                                Nombre
                            </th>
                        </tr>
                        @if (Model.departamentoNoAsoc.Count == 0)
                        {
                            <p class="fst-italic text-danger">No existen en el sistema</p>
                        }
                        else
                        {
                            @foreach (var item in Model.departamentoNoAsoc)
                            {

                                    <tr>
                                        <td class="id" style="display:none" ;>
                                            @Html.DisplayFor(i => item.id)
                                        </td>
                                        <td>
                                            <input class="check" name="idDepartamentos" id="@item.id" type="checkbox" value="@item.id" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(i => item.nombre)
                                        </td>
                                    </tr>
                            }
                        }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnCrear" class="btn btn-primary">Crear</button>
                </div>
            }
        </div>
    </div>
</div>











