@model List<ServiceDeskUCAB.Models.ModelsVotos.Votos_Ticket>
@using ServiceDeskUCAB.Models.ModelsVotos
@using ServiceDeskUCAB.Models.TipoTicketsModels

<head>
    <link rel="stylesheet" href="~/css/Sidebar.css" />

</head>


<div class="row">
    <div class="col-8">
        <h1 id="ti">Lista de Votos</h1>
    </div>
</div>

<div class="text-center" style="margin-top:30px">
    <a asp-action="VistaTicket" asp-controller="Votos" class="btn btn-warning btn-sm">Ticket Pendientes</a>
</div>

<div class="p-1 rounded rounded-pill shadow-sm mb-2 wrapperBuscador">
    <div class="input-group">
        <div class="input-group-prepend">
            <button id="button-addon2" type="submit" class="btn primary"><i class="fa fa-search"></i></button>
        </div>
        <input type="search" id="search" placeholder="Buscar.." aria-describedby="button-addon2" class="form-control border-0 white buscador ">
    </div>
</div>

<!-- LISTA DE LOS TICKETS APROBADOS Y RECHAZADOS DEL USUARIO -->
<div class="contenedor">
    <div class="arriba">
        <table class="table" id="table_id">
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Tipo Solicitud</th>
                <th>Creado</th>
                <th>Voto</th>

            </tr>
            
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>@item.Ticket?.titulo</td>
                        <td>@item.Ticket?.descripcion</td>
                        <td>@item.Ticket?.Tipo_Ticket?.nombre</td>
                        <td>@item.Ticket?.fecha_creacion.ToShortDateString()</td>
                        <td>@item.voto</td>
                        <td>
                            <div class="dropdown" style="float: right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a asp-action="ConsultarVoto" asp-controller="Votos" asp-route-ticket="@(item.Ticket as Ticket)" asp-route-idTicket="@item.Ticket?.Id.ToString()" asp-route-idUsuario="@item.IdUsuario.ToString()" asp-route-voto="@item.voto" asp-route-comentario="@item.comentario" class="dropdown-item">
                                            Detalles
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
           
        </table>

    </div>
</div>

@section Scripts{

    <script>
        const searchFocus = document.getElementById('search-focus');
        const keys = [
            { keyCode: 'AltLeft', isTriggered: false },
            { keyCode: 'ControlLeft', isTriggered: false },
        ];
        window.addEventListener('keydown', (e) => {
            keys.forEach((obj) => {
                if (obj.keyCode === e.code) {
                    obj.isTriggered = true;
                }
            });
            const shortcutTriggered = keys.filter((obj) => obj.isTriggered).length === keys.length;
            if (shortcutTriggered) {
                searchFocus.focus();
            }
        });
        window.addEventListener('keyup', (e) => {
            keys.forEach((obj) => {
                if (obj.keyCode === e.code) {
                    obj.isTriggered = false;
                }
            });
        });
    </script>


    <script>
        const buscador = document.getElementById('search');
        buscador.addEventListener("keyup", function () {
            var keyword = this.value;
            keyword = keyword.toUpperCase();
            var table = document.getElementById("table_id");
            var all_tr = table.getElementsByTagName("tr");
            for (var i = 0; i < all_tr.length; i++) {
                var name_column = all_tr[i].getElementsByTagName("td")[0];
                var description_column = all_tr[i].getElementsByTagName("td")[1];
                if (name_column && description_column) {
                    var name_value = name_column.textContent || name_column.innerText;
                    var description_value = description_column.textContent || description_column.innerText;
                    name_value = name_value.toUpperCase();
                    description_value = description_value.toUpperCase();
                    if ((name_value.indexOf(keyword) > -1) || (description_value.indexOf(keyword) > -1)) {
                        all_tr[i].style.display = ""; // show
                    } else {
                        all_tr[i].style.display = "none"; // hide
                    }
                }
            }
        })
    </script>


}