@model List<ServiceDeskUCAB.Models.ModelsVotos.Votos_Ticket>
@using ServiceDeskUCAB.Models.ModelsVotos
@using ServiceDeskUCAB.Models.TipoTicketsModels
<div class="row">
    <div class="col-8">
        <h1 id="ti">Gestionar Votos</h1>
    </div>
    <!--<div class="col-4">
        <a type="button" class="btn btn-primary" asp-action="AgregarTicket" asp-controller="Votos">Agregar Ticket</a>
    </div>
    -->
</div>

<div class="alert alert-success d-none" role="alert">
    "Algun mensaje de confirmación luego de hacer una acción"
</div>

<div style="margin-top:30px;">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Creado</th>
                <th>Voto</th>
                <th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Ticket?.titulo</td>
                    <td>@item.Ticket?.descripcion</td>
                    <td>@item.Ticket?.fecha_creacion.ToShortDateString()</td>
                    <td>@item.voto</td>
                    <td>@item.comentario</td>
                    <td>
                        <div class="dropdown" style="float: right">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                 <li>
                                    <a asp-action="VistaVotarTicket" asp-controller="Votos" asp-route-ticket="@(item.Ticket as Ticket)" asp-route-idTicket="@item.Ticket?.Id.ToString()" asp-route-idUsuario="@item.IdUsuario.ToString()" asp-route-voto="@item.voto" asp-route-comentario="@item.comentario" class="dropdown-item">
                                        Votar
                                    </a>
                                 </li>
                                <!--<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</a></li>-->
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Eliminar Tipo Ticket "nombre"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">¿Seguro que desea eliminar este ticket?</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });</script>
}