@model List<ServiceDeskUCAB.Models.ModelsVotos.Votos_Ticket>
@using ServiceDeskUCAB.Models.ModelsVotos
@using ServiceDeskUCAB.Models.TipoTicketsModels

<head>
    <link rel="stylesheet" href="~/css/Sidebar.css" />

</head>

<div class="row">
    <div class="col-8">
        <h1 id="ti">Gestionar Votos</h1>
    </div>
</div>

@if (Context.Request.Query["message"].Count() > 0)
{
    <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (Context.Request.Query["message2"].Count() > 0)
{
    <div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message2"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-center" style="margin-top:30px">
    <a class="btn btn-primary" asp-controller="Votos" asp-action="VistaTicketNoPendiente">Lista de Votos</a>
</div>


<!-- LISTA DE LOS TICKETS PENDIENTES DEL USUARIO -->
<div class="contenedor">
    <div class="arriba">
        <table class="table">
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Tipo Solicitud</th>
                <th>Creado</th>
                <th>Voto</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ticket?.titulo</td>
                        <td>@item.Ticket?.descripcion</td>
                        <td>@item.Ticket?.Tipo_Ticket?.nombre</td>
                        <td>@item.Ticket?.fecha_creacion.ToShortDateString()</td>
                        <td>@item.voto</td>
                        <td>

                            <div class="dropdown" style="float: right">

                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a asp-action="VistaVotarTicket" asp-controller="Votos" asp-route-ticket="@(item.Ticket as Ticket)" asp-route-idTicket="@item.Ticket?.Id.ToString()" asp-route-idUsuario="@item.IdUsuario.ToString()" asp-route-voto="@item.voto" asp-route-comentario="@item.comentario" class="dropdown-item">
                                            Votar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Eliminar Tipo Ticket "nombre"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">¿Seguro que desea eliminar este ticket?</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function mostrar() {
            document.getElementById('Modelo_Paralelo').style.display = 'block';

        }

    </script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron tipo tickets con esa características",
                    "sEmptyTable": "No hay ningun tipo ticket en el sistema, registra uno para enviar tickets",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });
    </script>



}