@model ServiceDeskUCAB.Models.Tipo_CargoModel


@{
    ViewData["Title"] = "Gestion Tipo Cargo";
}

<head>
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<!-- Importacion de librerias -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<!-- Ventana emergente -->
<div class="modal fade" id="popUpAgregar" tabindex="-1" role="dialog" aria-labelledby="popUpAgregarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Tipo Cargo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("GuardarTipoCargo", "CargoYTipoCargo", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.TextBoxFor(m => m.nombre, new {Class="form-control", placeholder="Nombre: "})
                    @Html.ValidationMessageFor(m => m.nombre ,null, new { @class = "text-danger" })
                    <br />
                    @Html.TextAreaFor(m => m.descripcion, new {Class="form-control", placeholder="Descripcion: "})
                    @Html.ValidationMessageFor(m => m.descripcion ,null, new { @class = "text-danger" })
                    <br />
                    <center><label class="advertencia">*NOTA: No podrá ser modificado el nombre*</label></center>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="botonCancelar" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botonCrear">Crear</button>
                </div>
            }
        </div>
    </div>
</div>
