@model ServiceDeskUCAB.ViewModel.EstadoTicket.EstadoEditarViewModel;
@{
    ViewData["Title"] = "Estado Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5">
    <div class="card-header p-2">
        <h1 class="fs-3 mb-0 text-center">Editar Tipo de Estado</h1>
    </div>
    <div>
        @ViewBag.messagge
    </div>
    @if (Context.Request.Query["message"].Count() > 0)
    {
        <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
            <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="card-body">
        <form asp-action="EditarEstado" asp-controller="EstadoTicket" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <input asp-for="Estado.Id" name="Id" type="hidden" />
                        <div class="mb-3">
                            <label class="form-label fs-6 fw-bold mb-1">Nombre</label>
                            @if(Model.Estado.Permiso == true){
                                <input required type="text" class="form-control form-control-sm" name="Nombre" asp-for="Estado.Nombre" />
                            }else{
                                <input disabled required type="text" class="form-control form-control-sm" name="Nombre" asp-for="Estado.Nombre" />
                            }
                        </div>
                        <div class="mb-3">
                            <label class="form-label fs-6 fw-bold mb-1">Descripción</label>
                            @if (Model.Estado.Permiso == true){
                                <textarea required class="form-control form-control-sm" rows="3" name="Descripcion" asp-for="Estado.Descripcion"></textarea>
                            }
                            else{
                                <textarea disabled required class="form-control form-control-sm" rows="3" name="Descripcion" asp-for="Estado.Descripcion"></textarea>
                            }
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-1">
                            <label class="form-label fs-6 fw-bold mb-1 d-flex">
                                <span class="mr-2">Restricción de tipo de estado</span>
                                <button type="button" style="width: 25px; height: 25px" class="fw-bold btn btn-sm btn-danger rounded-circle d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#modalHelpModal">
                                    ?
                                </button>
                            </label>
                            <div class="form-check form-switch ml-4">
                                @if(Model.Estado.Permiso == true){
                                    <input name="Permiso" disabled class="form-check-input" checked data-bs-toggle="modal" data-bs-target="#desactivarHelpModal" value="True" type="checkbox" id="Permiso">

                                }else{
                                    <input name="Permiso" disabled class="form-check-input" data-bs-toggle="modal" data-bs-target="#desactivarHelpModal" value="True" type="checkbox" id="Permiso">

                                }
                                <label class="form-check-label">Permiso de edición</label>
                            </div>
                        </div>
                        <div class="mb-1 mt-4">
                            <label class="form-label fs-6 fw-bold mb-1">Asociar etiquetas:</label>
                            @if (Model.Etiquetas != null && Model.Etiquetas.Count() == 0)
                            {
                                <p class="fst-italic text-danger">No existen etiquetas en el sistema</p>
                            }
                            else if (Model.Etiquetas != null)
                            {
                                @foreach (var etiqueta in Model.Etiquetas)
                                {
                                    <div class="form-check form-switch">
                                        @if (Model.Estado.Etiqueta.Any(e => e.Nombre == etiqueta.Nombre))
                                        {
                                            <input name="Etiqueta" class="form-check-input" value="@etiqueta.Id" type="checkbox" id="@etiqueta.Id" checked>
                                        }
                                        else
                                        {
                                            <input name="Etiqueta" class="form-check-input" value="@etiqueta.Id" type="checkbox" id="@etiqueta.Id">
                                        }
                                        <label class="form-check-label">@etiqueta.Nombre</label>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="fst-italic text-danger">No hay etiquetas registradas en el sistema</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="mb-0 text-center">
                <button type="submit" class="btn btn-success btn-sm">Guardar cambios</button>
                <a asp-action="EstadosTicket" asp-controller="EstadoTicket" class="btn btn-secondary btn-sm">Volver a la lista de Estados</a>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalHelpModal" tabindex="-1" aria-labelledby="modalHelp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex align-items-md-center text-black">
                <button type="button" style="min-width: 40px; min-height: 40px" class="fs-5 mr-2 fw-bold btn btn-sm btn-danger rounded-circle d-flex justify-content-center align-items-center">
                    ?
                </button>
                Con esta opción podrás restingir los permisos de edición para este tipo de estado, así como la eliminación del mismo.
            </div>
        </div>
    </div>
</div>
