@model ServicesDeskUCAB.ViewModel.TicketDetailsViewModel;

<div>
    <h1>Detalles</h1>
    <hr />
</div>


<div class="row" style="margin-top:30px">
    <div class="col-8"></div>

    <div class="col-4 text-right">
        @if (Model.ticket.Ticket_Padre != null)
        {
            <h6><span class="badge bg-primary rounded-pill"><a asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@Model.ticket.Ticket_Padre.Id">Ticket reenviado</a></span></h6>
        }

        @if(Model.ticket.fecha_eliminacion != null)
        {
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Cambiar estado</option>
                    @foreach (var item in Model.estados)
                    {
                        <option value="@item">@item.nombre</option>
                    }
                </select>
            </div>
        }
    </div>

    <div class="col-6">
        ID: @Model.ticket.Id
    </div>
    <div class="col-6">
        Titulo: @Model.ticket.titulo
    </div>
    <hr />
    <div class="col-6">
        Estado: @Model.ticket.Estado.nombre
    </div>
    <div class="col-6">
        Departamento origen: @Model.ticket.Departamento_Destino
    </div>
    <hr />
    <div class="col-6">
        Tipo ticket: @Model.ticket.Tipo_Ticket.Nombre
    </div>

    <div class="col-6">
        Prioridad: @Model.ticket.Prioridad.nombre
    </div>
    <hr />
    <div class="col-6">
        Fecha de creación: @Model.ticket.fecha_creacion
    </div>
    <div class="col-6">
        Fecha de eliminación: @Model.ticket.fecha_eliminacion
    </div>
    <hr />
    <div class="col-6">
        Usuario: @Model.ticket.Emisor.Correo
    </div>
    <hr />
    <div class="col-12">
        Descripción: @Model.ticket.descripcion 
    </div>
</div>

<div class="col-12 text-center" style="margin-top: 20px">
    <a id="botonAnidado" type="button" class="btn btn-success" onclick="mostrarAnidados()" href="#ticketsAnidados">Ver tickets anidados</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Aceptar</a>
</div>

<div style="margin-top:30px;">
    <h2 style="margin-bottom: 20px;">Bitacora del ticket</h2>
    <table id="table_id">
        <thead>
            <tr>
                <th>ESTADO</th>
                <th>FECHA INICIO</th>
                <th>FECHA FIN</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.bitacoraTicket)
            {
                <tr>
                    <td>@item.Estado</td>
                    <td>@item.FechaInicio.</td>
                    <td>@item.FechaFin</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div id="ticketsAnidados" class="container d-none" style="margin-top:30px;">
    <h2 style="margin-bottom: 20px;">Tickets anidados</h2>
    <div>
        <table id="table_id2">
            <thead>
                <tr>
                    <th>TITULO</th>
                    <th>TIPO TICKET</th>
                    <th>PRIORIDAD</th>
                    <th>ESTADO</th>
                    <th>FECHA DE CREACIÓN</th>
                    <th>FECHA DE ELIMINACIÓN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.familiaTicket)
                {
                    <tr>
                        <td>@item.titulo</td>
                        <td>@item.Tipo_Ticket.Nombre</td>
                        <td>@item.Prioridad.nombre</td>
                        <td>@item.Estado.nombre</td>
                        <td>@item.fecha_creacion</td>
                        <td>@item.fecha_eliminacion</td>
                        <td>
                            <div class="dropdown" style="float: right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Details" asp-route-ticketID="@item.Id">Ver detalles</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            },);
        });

        $(document).ready(function () {
            $('#table_id2').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });

        function mostrarAnidados() {
            boton = document.getElementById("botonAnidado");
            contenedor = document.getElementById("ticketsAnidados");
            if (boton.innerHTML == "Ver tickets anidados") {
                contenedor.className = "d-display";
                boton.innerHTML = "Ocultar tickets anidados";
                boton.className = "btn btn-danger";
            } else {
                contenedor.className = "d-none";
                boton.innerHTML = "Ver tickets anidados";
                boton.className = "btn btn-success";
            }

        }
    </script>

}
