@{/*


@model ServicesDeskUCAB.ViewModel.TicketMergeViewModel;

<div style="margin:30px 0px">
    <h1>Merge ticket</h1>
    <hr />
</div>

<div class="container">
    <div class="row" style="margin-top:30px">
        <div class="col-8">
        </div>
        <div class="col-4 text-right">
            <h6><span class="badge bg-primary rounded-pill"><a asp-area="" asp-controller="Ticket" asp-action="Details" asp-route-TicketID="@Model.ticket.ticketPadre_id">Ticket reenviado</a></span></h6>
        </div>
        <div class="col-6">
            ID: @Model.ticket.ticket_id
        </div>
        <div class="col-6">
            Titulo: @Model.ticket.titulo
        </div>
        <hr />
        <div class="col-6">
            Estado: @Model.ticket.estado_nombre
        </div>
        <div class="col-6">
            Departamento destino: @Model.ticket.departamentoDestino_nombre
        </div>
        <hr />
        <div class="col-6">
            Tipo ticket: @Model.ticket.tipoTicket_nombre
        </div>

        <div class="col-6">
            Prioridad: @Model.ticket.prioridad_nombre
        </div>
        <hr />
        <div class="col-6">
            Fecha de creación: @Model.ticket.fecha_creacion
        </div>
        <div class="col-6">
            Fecha de eliminación: @Model.ticket.fecha_eliminacion
        </div>
        <hr />
        <div class="col-6">
            Usuario: @Model.ticket.empleado_correo
        </div>
        <hr />
        <div class="col-12">
            Descripción: @Model.ticket.descripcion
        </div>
    </div>

    <div>
        <form method="post" asp-controller="Ticket" asp-action="GuardarFamilia">
            <div class="col text-center" style="margin:30px 0px">
                <h3>Seleccione los tickets a unir y presione Merge</h3>
                <button type="submit" class="btn btn-success">Merge</button>
            </div>
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>SELECCIONAR</th>
                        <th>TITULO</th>
                        <th>TIPO TICKET</th>
                        <th>PRIORIDAD</th>
                        <th>ESTADO</th>
                        <th>FECHA DE CREACIÓN</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.tickets)
                    {
                    <tr style="border-bottom:none">
                        <td id="element1">
                            <div class="container">
                                <div class="row">
                                    <div class="form-check col-6">
                                        <input class="form-check-input" type="checkbox" value="@item">
                                        <label class="form-check-label" for="flexCheckIndeterminate">
                                            U
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>@item.titulo</td>
                        <td>@item.Tipo_Ticket.Nombre</td>
                        <td>@item.Prioridad.nombre</td>
                        <td>@item.Estado.nombre</td>
                        <td>@item.fecha_creacion</td>
                        <td>
                            <div class="dropdown" style="float: right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Details" asp-route-TicketID="@item.Id">Ver detalles</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>

        */
}
@section Scripts{
    <script>$(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });</script>

}