@model ServiceDeskUCAB.ViewModel.Grupo.GrupoRegistrarViewModel;

@{
    ViewData["Title"] = "Gestion Grupo";

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<head>
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
</head>

<!-- Librerias -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<!-- Ventana emergente para agregar grupo -->

<div class="modal fade" id="popUpAgregar" tabindex="-1" role="dialog" aria-labelledby="popUpEditarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Grupo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("GuardarGrupo", "Grupo", FormMethod.Post))
            {
                <div class="modal-body">

                    @Html.TextBoxFor(m => m.grupo.nombre, new {Class="form-control", placeholder="Nombre: "})
                    @Html.ValidationMessageFor(m => m.grupo.nombre ,null, new { @class = "text-danger" })
                    <br />

                    @Html.TextAreaFor(m => m.grupo.descripcion, new {Class="form-control", placeholder="Descripcion: ",Value = "@Model.descripcion", name="descripcion", id="@Model.descripcion"})
                    @Html.ValidationMessageFor(m => m.grupo.descripcion ,null, new { @class = "text-danger" })
                    <br />
                    <table class="table table-scroll" id="DeptTable">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Nombre
                            </th>
                        </tr>
                        <tbody>
                            @if (Model.deptNoAsociado == null)
                            {
                                <p class="fst-italic text-danger">No existen en el sistema</p>
                            }
                            else
                            {
                                @foreach (var item in Model.deptNoAsociado)
                                {
                                    @if (Model.deptNoAsociado.Any(x => x.id == item.id))
                                    {
                                        <tr>
                                            <td class="id" style="display:none" ;>
                                                @Html.DisplayFor(i => item.id)
                                            </td>
                                            <td>
                                                <input class="check" name="idDepartamentos" id="@item.id" type="checkbox" value="@item.id"/>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(i => item.nombre)
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="botonCancelar" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnCrear" class="botonCrear">Crear</button>
                </div>
            }
        </div>
    </div>
</div>
