@model List<ServicesDeskUCAB.Models.Prioridad>

<div class="row">
    <div class="col">
        <h1>Prioridad</h1>
        <hr />
    </div>
    @if (Context.Request.Query["message"].Count() > 0)
    {
        <div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert" style="margin:20px 0px">
            <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="text-center">
        <a class="btn btn-primary" asp-action="Prioridad" asp-controller="Prioridad" asp-route-prioridadID="00000000-0000-0000-0000-000000000000">Agregar prioridad</a>
    </div>
</div>



<div style="margin-top:30px;">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>DESCRIPCIÓN</th>
                <th>ESTADO</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nombre </td>
                        <td>@item.descripcion </td>
                        <td>@item.estado</td>
                        <td>
                            <div class="dropdown" style="float: right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-action="Prioridad" asp-controller="Prioridad" asp-route-PrioridadID="@item.Id">Modificar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
             }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });
    </script>
}