@model ServiceDeskUCAB.Models.ViewModel.TipoNuevoViewModel;



<div class="row">
    <div class="col-8">
        <h1 id="ti">Gestionar Tipo Ticket</h1>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarModal">Agregar Tipo Ticket</button>
    </div>
</div>

<div class="alert alert-success d-none" role="alert">
    "Algun mensaje de confirmación luego de hacer una acción"
</div>

@* Muestra la lista de Tipo Ticket --- Fino*@
<div style="margin-top:30px;">
    <table id="table_id" class="display">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tipo Modelo Aprobación</th>
                <th>Departamentos Asociados</th>
                <th>Cargos Asociados</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaTipo)
            {
                <tr>


                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>@item.tipo</td>


                    <td>
                        @foreach (var departamento in item.Departamento)
                        {
                            <p> @departamento.nombre</p>
                        }
                    </td>
                    <td>
                        @foreach (var cargos2 in item.Flujo_Aprobacion)
                        {

                            <p> @cargos2.Tipo_Cargo.nombre</p>

                        }
                    </td>

                    <td>
                        <div class="dropdown" style="float: right">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modificarModal-@item.Id">Modificar</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-@item.Id">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>


@*Modal para Registrar un nuevo Tipo Ticket y Modelo de Aprobacion --- Fino*@

<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Nuevo Tipo de Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form asp-action="GuardarCambios" asp-controller="TipoTicket" method="post">

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input required type="text" asp-for="tipo.nombre" name="nombre" />
                    </div>

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" id="message-text" asp-for="tipo.descripcion" name="descripcion"></textarea>
                    </div>

                    <div class="container p-2 my-2 border">
                        <div class="mb-3">
                            <h6>Registro Modelo Aprobacion:</h6>
                            <label class="form-label">Tipo Modelo Aprobación:</label>

                            <select required class="form-select form-select-sm" asp-for="tipo.tipo" name="tipo" required="required" onChange="mostrarPremio(this.value);">
                                <option value="" selected disabled>-- Seleccionar --</option>
                                <option value="Modelo_Paralelo">Modelo_Paralelo</option>
                                <option value="Modelo_Jerarquico">Modelo_Jerarquico</option>
                                <option value="Modelo_No_Aprobacion">Modelo_No_Aprobacion</option>
                            </select>


                            <div class="mb-3" id="Modelo_Jerarquico" style="display: none;">
                                <div class="mb-3">
                                    <label class="form-label">Cargos Asociados:</label>
                                    @foreach (var cargos2 in Model.ListaCargos)
                                    {
                                        <div class="form-check form-switch" >
                                            <input name="cargos2" class="form-check-input" value="@cargos2.Id" type="checkbox" onChange="OcultarCampos(this,@cargos2.posicion)" style="position: absolute; left: 40px">
                                            <label class="form-check-label" style="position: absolute; left: 40px">@cargos2.nombre</label>
                                            <br />
                                        </div>
                                        <div class="form-check form-switch" style="display: none" id="@cargos2.posicion">
                                            Orden Aprobación:
                                            <input name="ordenaprobacion" type="number" class="form-control" style="width : 60px">
                                            Mínimo Aprobado Nivel:
                                            <input name="minimo_aprobado_nivel" type="number" class="form-control" style="width : 60px">
                                            Máximo Rechazado Nivel:
                                            <input name="maximo_rechazado_nivel" type="number" class="form-control" style="width : 60px">
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="mb-3" id="Modelo_Paralelo" style="display: none;">
                                <div class="mb-3">
                                    <label class="form-label">Cargos Asociados:</label>
                                    @foreach (var cargos2 in Model.ListaCargos)
                                    {
                                        <div class="form-check form-switch">
                                            <input name="cargos2" class="form-check-input" value="@cargos2.Id" type="checkbox" id="@cargos2.Id" style="position: absolute; left: 40px">
                                            <label class="form-check-label" style="position: absolute; left: 40px">@cargos2.nombre</label>
                                            <br />

                                        </div>
                                    }

                                    <br />
                                    Mínimo Aprobado:
                                    <input type="text" asp-for="tipo.Minimo_Aprobado" name="Minimo_Aprobado">
                                    <br />
                                    <br />
                                    Máximo Rechazado:
                                    <input type="text" asp-for="tipo.Maximo_Rechazado" name="Maximo_Rechazado">
                                </div>
                            </div>

                            <div class="mb-3" id="Modelo_No_Aprobacion" style="display: none;">
                                <div class="mb-3">
                                    No requiere aprobacion
                                </div>

                            </div>

                            <div class="mb-2" id="ListaDepartamentos">
                                <label class="form-label">Departamentos Asociados:</label>
                                @foreach (var departamentos in Model.ListaDepartamento)
                                {

                                    <br>

                                    <div class="form-check form-switch">
                                        <input name="departamentos" class="form-check-input" value="@departamentos.Id" type="checkbox" id="@departamentos.Id" style="position: absolute; left: 40px">
                                        <label class="form-check-label" style="position: absolute; left: 40px">@departamentos.nombre</label>

                                    </div>
                                }
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function mostrarPremio(id) {
        if (id == "Modelo_Jerarquico") {
            document.getElementById('Modelo_Jerarquico').style.display = 'block';
            document.getElementById('Modelo_Paralelo').style.display = 'none';
            document.getElementById('Modelo_No_Aprobacion').style.display = 'none';
        }

        if (id == "Modelo_Paralelo") {
            document.getElementById('Modelo_Paralelo').style.display = 'block';
            document.getElementById('Modelo_Jerarquico').style.display = 'none';
            document.getElementById('Modelo_No_Aprobacion').style.display = 'none';
        }

        if (id == "Modelo_No_Aprobacion") {
            document.getElementById('Modelo_No_Aprobacion').style.display = 'block';
            document.getElementById('Modelo_Jerarquico').style.display = 'none';
            document.getElementById('Modelo_Paralelo').style.display = 'none';
        }


    }

    function OcultarCampos(cb, id) {
        if (cb.checked == true) {
            document.getElementById(id).style.display = 'block';
            const hijos = document.getElementById(id).children;
            hijos[0].required = 'true';
            hijos[1].required = 'true';
            hijos[2].required = 'true';
        }

        if (cb.checked == false) {
            document.getElementById(id).style.display = 'none';
            const hijos = document.getElementById(id).children;
            hijos[0].required = 'false';
            hijos[1].required = 'false';
            hijos[2].required = 'false';
        }

    }

    function SelectTipoCambios(select,value) {
        
       
        if (select.value == "Modelo_Jerarquico") {
            console.log("Hola2");
            document.getElementById('Modelo_Jerarquico-' + select.id).style.display = 'block';
            document.getElementById('Modelo_Paralelo-' + select.id).style.display = 'none';
            document.getElementById('Modelo_No_Aprobacion-' + select.id).style.display = 'none';
        }

        if (select.value == "Modelo_Paralelo") {
            document.getElementById('Modelo_Paralelo-' + select.id).style.display = 'block';
            document.getElementById('Modelo_Jerarquico-' + select.id).style.display = 'none';
            document.getElementById('Modelo_No_Aprobacion-' + select.id).style.display = 'none';
        }

        if (select.value == "Modelo_No_Aprobacion") {
            document.getElementById('Modelo_No_Aprobacion-' + select.id).style.display = 'block';
            document.getElementById('Modelo_Jerarquico-' + select.id).style.display = 'none';
            document.getElementById('Modelo_Paralelo-' + select.id).style.display = 'none';
        }
        
    }

    function OcultarCamposModificar(cb, id) {

        if (cb.checked == true) {
            document.getElementById(cb.id+"-"+id).style.display = 'block';
            const hijos = document.getElementById(id).children;
            hijos[0].required = 'true';
            hijos[1].required = 'true';
            hijos[2].required = 'true';
        }

        if (cb.checked == false) {
            document.getElementById(cb.id + "-" + id).style.display = 'none';
            const hijos = document.getElementById(id).children;
            hijos[0].required = 'false';
            hijos[0].value = '';
            hijos[1].required = 'false';
            hijos[2].required = 'false';
        }

    }

        


</script>

@*Modificar Tipo Ticket*@
@foreach (var tipo in Model.ListaTipo)
{
    <div class="modal fade" id="modificarModal-@tipo.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Nuevo Tipo de Ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form asp-action="ActualizarCambios" asp-controller="TipoTicket" method="post">

                        <div class="mb-3" style="display: none;">
                            <label for="recipient-name" class="col-form-label">Id:</label>
                            <input required type="text" asp-for="tipo.Id" value="@tipo.Id" name="id" />
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input required type="text" asp-for="tipo.nombre" value= "@tipo.nombre" name="nombre" />


                        </div>

                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Descripción:</label>
                            <input required type="text" asp-for="tipo.descripcion" value="@tipo.descripcion" name="descripcion" />
                        </div>

                        <div class="container p-2 my-2 border">
                            <div class="mb-3">
                                <h6>Registro Modelo Aprobacion:</h6>
                                <label class="form-label">Tipo Modelo Aprobación:</label>

                                <select required class="form-select form-select-sm" asp-for="tipo.tipo" name="tipo" required="required" id="@tipo.Id" onChange="SelectTipoCambios(this,@tipo.tipo);">
                                    <option value="" selected disabled>-- Seleccionar --</option>
                                    <option value="Modelo_Paralelo">Modelo_Paralelo</option>
                                    <option value="Modelo_Jerarquico">Modelo_Jerarquico</option>
                                    <option value="Modelo_No_Aprobacion">Modelo_No_Aprobacion</option>
                                </select>


                                <div class="mb-3" id="Modelo_Jerarquico-@tipo.Id" style="display: none;">
                                    <div class="mb-3">
                                        <label class="form-label">Cargos Asociados:</label>
                                        @foreach (var cargos2 in Model.ListaCargos)
                                        {
                                            <div class="form-check form-switch" >
                                                <input name="cargos2" class="form-check-input" value="@cargos2.Id" id="@tipo.Id" type="checkbox" onChange="OcultarCamposModificar(this,@cargos2.posicion)" style="position: absolute; left: 40px">
                                                <label class="form-check-label" style="position: absolute; left: 40px">@cargos2.nombre</label>
                                                <br />
                                            </div>
                                            <div class="form-check form-switch" style="display: none" id="@tipo.Id-@cargos2.posicion">
                                                Orden Aprobación:
                                                <input name="ordenaprobacion" type="number" class="form-control" value="" style="width : 60px">
                                                Mínimo Aprobado Nivel:
                                                <input name="minimo_aprobado_nivel" type="number" class="form-control" style="width : 60px">
                                                Máximo Rechazado Nivel:
                                                <input name="maximo_rechazado_nivel" type="number" class="form-control" style="width : 60px">
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="mb-3" id="Modelo_Paralelo-@tipo.Id" style="display: none;">
                                    <div class="mb-3">
                                        <label class="form-label">Cargos Asociados:</label>
                                        @foreach (var cargos2 in Model.ListaCargos)
                                        {
                                        
                                            <div class="form-check form-switch">
                                                <input name="cargos2" class="form-check-input" value="@cargos2.Id" type="checkbox" id="@cargos2.Id" style="position: absolute; left: 40px">
                                                <label class="form-check-label" style="position: absolute; left: 40px">@cargos2.nombre</label>
                                                <br />

                                            </div>
                                        }

                                        <br />
                                        Mínimo Aprobado:
                                        <input type="text" asp-for="tipo.Minimo_Aprobado" name="Minimo_Aprobado">
                                        <br />
                                        <br />
                                        Máximo Rechazado:
                                        <input type="text" asp-for="tipo.Maximo_Rechazado" name="Maximo_Rechazado">
                                    </div>
                                </div>

                                <div class="mb-3" id="Modelo_No_Aprobacion-@tipo.Id" style="display: none;">
                                    <div class="mb-3">
                                        No requiere aprobacion
                                    </div>

                                </div>

                                <div class="mb-2" id="ListaDepartamentos">
                                    <label class="form-label">Departamentos Asociados:</label>
                                    @foreach (var departamentos in Model.ListaDepartamento)
                                    {

                                        <br>

                                        <div class="form-check form-switch">
                                            <input name="departamentos" class="form-check-input" value="@departamentos.Id" type="checkbox" id="@departamentos.Id" style="position: absolute; left: 40px">
                                            <label class="form-check-label" style="position: absolute; left: 40px">@departamentos.nombre</label>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}




                            

@*Modal para Eliminar Tipo Ticket --- Fino*@
@foreach (var tipo in Model.ListaTipo){
    <div class="modal fade" id="modal-@tipo.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Eliminar Tipo Ticket "@tipo.nombre"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">¿Seguro que desea eliminar este tipo de ticket "@tipo.nombre"?</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" asp-action="Eliminar" asp-controller= "TipoTicket" asp-route-id="@tipo.Id">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}


@section Scripts{
    <script type="text/javascript">
        function mostrar() {
            document.getElementById('Modelo_Paralelo').style.display = 'block';

        }

    </script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });
    </script>



}