@model List<ServiceDeskUCAB.Models.TicketBasicoDTO>

<div class="row">
    <div class="col-12">
        <h1>Tickets</h1>
        <hr />

        @if (Context.Request.Query["message"].Count() > 0)
        {
            <div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert">
                <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="text-center" style="margin-top:30px">
            <a class="btn btn-primary" asp-controller="Ticket" asp-action="Ticket">Crear ticket</a>
        </div>
    </div>

  
    <div class="row" style="margin-top:30px">
        <div class="col-2"></div>
        <div class="btn-group col-8" role="group">
            @if (ViewBag.opcion == "Abiertos")
            {
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Cerrados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
            else if (ViewBag.opcion == "Cerrados")
            {
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Cerrados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
            else
            {
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Cerrados</a>
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }


        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container" style="margin-top:30px;">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>TITULO</th>
                <th>TIPO TICKET</th>
                <th>PRIORIDAD</th>
                <th>ESTADO</th>
                <th>FECHA DE CREACIÓN</th>
                <th>EMISOR</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @try
             {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.titulo</td>
                        <td>@item.tipoTicket_nombre</td>
                        <td>@item.prioridad_nombre</td>
                        <td>@item.estado_nombre</td>
                        <td>@item.fecha_creacion</td>
                        <td>@item.empleado_correo</td>
                        <td>
                            <div class="dropdown" style="float: right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@item.Id">Ver detalles</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Reenviar" asp-route-ticketPadre_Id="@item.Id">Reenviar</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Merge" asp-route-ticketId="@item.Id">Merge</a></li>
                                    @if (item.fecha_eliminacion == null)
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Cancelar" asp-route-ticketId="@item.Id">Cancelar</a></li>
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                  }
                }
                catch(Exception e)
                {
                    Console.WriteLine(e.Message);
                }
         </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            },);
        });</script>

}


