@model List<ServiceDeskUCAB.Models.TicketBasicoDTO>

<head>
    <link rel="stylesheet" href="~/css/Sidebar.css" />
</head>

<div class="agregar d-grid gap-2 d-md-flex justify-content-md-end">
    
    <a class="btn btn-success" asp-controller="Ticket" asp-action="Ticket"> <i class="fas fa-plus"></i>Crear ticket</a>
</div>

<div class="row">
    <div class="col-12">
        <h1>Lista de Tickets Recibidos</h1>
   
    
        @if (Context.Request.Query["message"].Count() > 0)
        {
            <div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert">
                <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (Context.Request.Query["message2"].Count() > 0)
        {
            <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
                <p class="fs-6 m-0">@Context.Request.Query["message2"]</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
</div>

<div class="row" >
        <div class="col-2"></div>
        <div class="btn-group col-8" role="group">
            @if (ViewBag.opcion == "Mis-Tickets")
            {
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Mis-Tickets">Mis Tickets</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Enviados">Enviados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Finalizados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
            else if (ViewBag.opcion == "Enviados")
            {
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Mis-Tickets">Mis Tickets</a>
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Enviados">Enviados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Finalizados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
            else if (ViewBag.opcion == "Abiertos")
            {
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Mis-Tickets">Mis Tickets</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Enviados">Enviados</a>
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Finalizados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
            else if (ViewBag.opcion == "Cerrados")
            {
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Mis-Tickets">Mis Tickets</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Enviados">Enviados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Finalizados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
            else
            {
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Mis-Tickets">Mis Tickets</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Enviados">Enviados</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Abiertos">Abiertos</a>
                <a class="btn btn-primary" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Cerrados">Finalizados</a>
                <a class="btn btn-primary disabled" asp-controller="Ticket" asp-action="Index" asp-route-opcion="Todos">Todos</a>
            }
        </div>
        <div class="col-2"></div>
        </div>
</div>

<div class="p-1 rounded rounded-pill shadow-sm mb-2 wrapperBuscador">
    <div class="input-group">
        <div class="input-group-prepend">
            <button id="button-addon2" type="submit" class="btn primary"><i class="fa fa-search"></i></button>
        </div>
        <input type="search" id="search" placeholder="Buscar.." aria-describedby="button-addon2" class="form-control border-0 white buscador ">
    </div>
</div>


<!-- LISTA DE LOS TICKETS RECIBIDOS -->
<div class="contenedor">
    <div class="arriba">
        <table class="table" id= "table_id">
            <tr>
                <th>TITULO</th>
                <th>TIPO TICKET</th>
                <th>PRIORIDAD</th>
                <th>ESTADO</th>
                <th>FECHA DE CREACIÓN</th>
                <th>EMISOR</th>
                @if (ViewBag.opcion == "Cerrados" || ViewBag.opcion == "Todos" || ViewBag.opcion == "Enviados")
                {
                    <th>ENCARGADO</th>
                }
                <th></th>
             </tr>
        </thead>
        <tbody>
            @try
             {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.titulo</td>
                        <td>@item.tipoTicket_nombre</td>
                        <td>@item.prioridad_nombre</td>
                        <td>@item.estado_nombre</td>
                        <td>@item.fecha_creacion</td>
                        <td>@item.empleado_correo</td>
                        @if (ViewBag.opcion == "Cerrados" || ViewBag.opcion == "Todos" || ViewBag.opcion == "Enviados")
                        {
                            if (@item.encargado_correo != null)
                            {
                                <td>@item.encargado_correo</td>
                            }
                            else
                            {
                                <td>Libre</td>
                            }
                        }
                        <td>
                            <div class="dropdown" style="float: right">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@item.Id">Ver detalles</a></li>
                                    @if (ViewBag.opcion != "Enviados")
                                        {
                                        @if (ViewBag.opcion == "Abiertos")
                                            {
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="TomarTicket" asp-route-ticketId="@item.Id">Tomar Ticket</a></li>
                                            }
                                            else if (ViewBag.opcion == "Mis-Tickets")
                                            {
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Reenviar" asp-route-ticketPadre_Id="@item.Id">Reenviar</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Merge" asp-route-ticketId="@item.Id">Merge</a></li>
                                            @if (item.fecha_eliminacion == null)
                                                {
                                                <li><a class="dropdown-item" asp-area="" asp-controller="Ticket" asp-action="Finalizar" asp-route-ticketId="@item.Id">Finalizar</a></li>
                                                }
                                            }
                                        }
                                </ul>
                            </div>
                        </td>
                    </tr>
                  }
                }
                catch(Exception e)
                {
                    Console.WriteLine(e.Message);
                }
            
        </table>
    </div>
</div>

@section Scripts{
    <script>
        const searchFocus = document.getElementById('search-focus');
        const keys = [
            { keyCode: 'AltLeft', isTriggered: false },
            { keyCode: 'ControlLeft', isTriggered: false },
        ];
        window.addEventListener('keydown', (e) => {
            keys.forEach((obj) => {
                if (obj.keyCode === e.code) {
                    obj.isTriggered = true;
                }
            });
            const shortcutTriggered = keys.filter((obj) => obj.isTriggered).length === keys.length;
            if (shortcutTriggered) {
                searchFocus.focus();
            }
        });
        window.addEventListener('keyup', (e) => {
            keys.forEach((obj) => {
                if (obj.keyCode === e.code) {
                    obj.isTriggered = false;
                }
            });
        });
    </script>


    <script>
        const buscador = document.getElementById('search');
        buscador.addEventListener("keyup", function () {
            var keyword = this.value;
            keyword = keyword.toUpperCase();
            var table = document.getElementById("table_id");
            var all_tr = table.getElementsByTagName("tr");
            for (var i = 0; i < all_tr.length; i++) {
                var name_column = all_tr[i].getElementsByTagName("td")[0];
                var description_column = all_tr[i].getElementsByTagName("td")[1];
                if (name_column && description_column) {
                    var name_value = name_column.textContent || name_column.innerText;
                    var description_value = description_column.textContent || description_column.innerText;
                    name_value = name_value.toUpperCase();
                    description_value = description_value.toUpperCase();
                    if ((name_value.indexOf(keyword) > -1) || (description_value.indexOf(keyword) > -1)) {
                        all_tr[i].style.display = ""; // show
                    } else {
                        all_tr[i].style.display = "none"; // hide
                    }
                }
            }
        })
    </script>
}




