@model ServiceDeskUCAB.ViewModel.FamiliaMergeDTOViewModel;

<div style="margin:30px 0px">
    <h1>Merge ticket</h1>
    <hr />
</div>

<div class="container">
    <div class="row" style="margin-top:30px">
        <div class="col-8"></div>

        <div class="col-4 text-right">
            @if (Model.ticket.ticketPadre_id != Guid.Empty)
            {
                <div class="row" style="margin-top:30px">
                    <div class="col-8"></div>
                    <div class="col-4 text-right">
                        <h6><span class="badge bg-primary"><a class="btn-primary" asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@Model.ticket.ticketPadre_id">Ticket Reenviado</a></span></h6>
                    </div>
                </div>
            }
        </div>

        <div class="container">

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Departamento destino:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.departamentoDestino_nombre">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Tipo ticket:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.tipoTicket_nombre">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Estado:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.estado_nombre">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Prioridad:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.prioridad_nombre">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Titulo:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.titulo">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Descripción:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.descripcion">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Fecha de creación:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.fecha_creacion">
                </div>
            </div>


            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Fecha de eliminación:</b></label>
                <div class="col-sm-8">
                    @if (Model.ticket.fecha_eliminacion != null)
                    {
                        <input type="text" readonly class="form-control-plaintext" value="-">
                    }
                    else
                    {
                        <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.fecha_creacion">
                    }
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label"><b>Emisor:</b></label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" value="@Model.ticket.empleado_correo">
                </div>
            </div>

            </div>
        </div>
    <div>
        <form method="post" asp-controller="Ticket" asp-action="GuardarFamilia" asp-route-ticketId="@Model.ticket.ticket_id">
            <div class="col text-center" style="margin:30px 0px">
                <h3>Seleccione los tickets a unir y presione Merge</h3>
                <button type="submit" class="btn btn-success">Merge</button>
            </div>
            @try
            {
                <div class="row">
                    <div class="col-2">
                        <label class="col-form-label">Selecccionar</label>
                    </div>
                    <div class="col-10"></div>
                    @foreach (var item in Model.tickets)
                    {
                        int i = 1;
                        string id = "collapse" + i;
                        <br />
                        <br />
                        <div class="col-2">
                            <div class="form-check col-6 text-center">
                                <input class="form-check-input" type="checkbox" value="@item.Id">
                            </div>
                        </div>
                        <div class="col-10">
                            <button class="container-fluid btn btn-outline-secondary text-left" type="button" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="false" aria-controls="@id">
                                Titulo: @item.titulo - Tipo ticket: @item.tipoTicket_nombre - Click para ver más
                            </button>
                            <div class="collapse" id="@id">
                                <div class="card card-body">
                                    <b>TITULO:</b><p>@item.titulo</p>
                                    <b>TIPO TICKET:</b><p>@item.tipoTicket_nombre</p>
                                    <b>PRIORIDAD:</b><p>@item.prioridad_nombre</p>
                                    <b>ESTADO:</b><p>@item.estado_nombre</p>
                                    <b>FECHA DE CREACIÓN:</b><p>@item.fecha_creacion</p>
                                    <b>EMIRSOR:</b><p>@item.empleado_correo</p>
                                    <a asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@item.Id">Ver mas detalles</a>
                                </div>
                            </div>
                        </div>
                        i++;
                     }
                </div>
                }
                catch (Exception e)
                {
                    Console.WriteLine(e.Message);
                }
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            });
        });
    </script>

}