@model List<ServiceDeskUCAB.Models.Modelos_de_Usuario.UsuariosRol>
@using ServiceDeskUCAB.Models.Modelos_de_Usuario
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <link rel="stylesheet" href="~/css/Sidebar.css" />
</head> 

@section scripts {
    <script>
        $(function () {
            var PlaceHolderElement = $('#PlaceHolderEliminarUsuario');
            $('button[data-toggle="eliminarUsuario-modal"]').click(function (event) {
                var id = $(this).closest('tr').find('.id').text();
                var url = $(this).data('url').replace("idUsuario", id);
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                })
            })
        })
    </script>
}
 <div id="PlaceHolderEliminarUsuario"></div>

<h1>Usuarios</h1>

    <div style="width:94%" class="d-flex justify-content-end">
        <a style="padding-left: 21px;padding-top: 3px;width: 8pc;" href="@Url.Action("GuardarUsuarioView")" class="botonCrear">Crear usuario</a>
</div>

<table class="table">
    <tr>
        <th>
            Nombres 
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Cedula
        </th>
        <th>
            Genero
        </th>
        <th>

        </th>


    </tr>

    @foreach (var item in Model.ToList())
    {
        <tr>
            <td class="id" style="display:none" ;>
                @Html.DisplayFor(i => item.id) 
            </td>
            <th>
                @Html.DisplayFor(i => item.primer_nombre) @Html.DisplayFor(i => item.segundo_nombre)
            </th>
            <td>
                @Html.DisplayFor(i => item.primer_apellido) @Html.DisplayFor(i => item.segundo_apellido)
            </td>
            <td>
                @Html.DisplayFor(i => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(i => item.gender)
            </td>
            <td>
                <button id=btnEliminar type="button" class="botonEliminar" data-toggle="eliminarUsuario-modal" data-target="#popUpEliminar" data-url="@Url.Action("VentanaEliminarUsuario","Usuario",new { id = "idUsuario" })">
                    Eliminar
                </button>
                <a style="padding-top:4px" type="button" class="botonVisualizar" href='@Url.Action("ViewUsuario","Usuario",new { id = item.id })'>
                    Visualizar
                </a>
            </td>
        </tr>
    }

</table>
