@model List<ServiceDeskUCAB.Models.Usuarios>
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel ="stylesheet" href="~/css/usuario.css" />
</head> 
<h1>Usuarios</h1>

<div class="d-flex justify-content-end">
<a href="@Url.Action("GuardarUsuarioView")" class="btn btn-primary btn-sm">Crear</a>
</div>

<div class="d-flex justify-content-end">
    <a href="@Url.Action("RegistrarUsuario")" class="btn btn-primary btn-sm">Crear</a>
</div>

<table class="table">
    <tr>
        <th>
            Nombres 
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Cedula
        </th>
        <th>
            Genero
        </th>
        <th>

        </th>


    </tr>

    @foreach (var item in Model.ToList())
    {
        <tr>
            <td class="id" style="display:none" ;>
            </td>
            <td>
                @Html.DisplayFor(i => item.primer_nombre) @Html.DisplayFor(i => item.segundo_nombre)
            </td>
            <td>
                @Html.DisplayFor(i => item.primer_apellido) @Html.DisplayFor(i => item.segundo_apellido)
            </td>
            <td>
                @Html.DisplayFor(i => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(i => item.gender)
            </td>
            <td>
               
             
            </td>
        </tr>
    }

</table>
