@model ServiceDeskUCAB.Models.Usuarios
@{
    ViewData["Title"] = "SingUp";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">

                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrarte</p>
                        @using (Html.BeginForm("GuardarUsuario", "Login", FormMethod.Post))
                        {

                            <div class="row">

                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label">Nombres</label>
                                    @Html.TextBoxFor(m => m.primer_nombre,new { Style="border-radius: 10px", Class="form-control",placeholder="Primer nombre",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                                <div style="padding-top: 8px" class="col-md-3">
                                    <label for="inputPassword4" class="form-label"></label>
                                    @Html.TextBoxFor(m => m.segundo_nombre,new { Style="border-radius: 10px", Class="form-control",placeholder="Segundo nombre",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <label for="inputPassword4" class="form-label">Apellidos</label>
                                    @Html.TextBoxFor(m => m.primer_apellido,new { Style="border-radius: 10px", Class="form-control",placeholder="Primer apellido",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                                <div style="padding-top: 8px" class="col-md-3">
                                    <label for="inputPassword4" class="form-label"></label>
                                    @Html.TextBoxFor(m => m.segundo_apellido,new { Style="border-radius: 10px", Class="form-control",placeholder="Segundo apellido",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label for="inputAddress" class="form-label">Genero</label>
                                    @Html.DropDownListFor(m => m.gender,
                                new SelectList(Enum.GetValues(typeof(Gender))),
                                "Select Gender", new {Style="border-radius: 10px",Class="form-control"})
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <label for="inputPassword4" class="form-label">Nacimiento</label>
                                    @Html.TextBoxFor(x => x.fecha_nacimiento, new {Class="form-control " ,Style="border-radius: 10px",Type="date",})
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <div class="col-6">
                                    <label for="inputAddress2" class="form-label">Contraseña</label>
                                    @Html.TextBoxFor(m => m.password,new { Style="border-radius: 10px", Class="form-control",placeholder="Contraseña",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCity" class="form-label">Cedula (ID)</label>
                                    @Html.TextBoxFor(m => m.cedula,new { Style="border-radius: 10px", Class="form-control",placeholder="Cedula",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCity" class="form-label">Correo Electronico</label>
                                    @Html.TextBoxFor(m => m.correo,new { Style="border-radius: 10px", Class="form-control",placeholder="Email",type="Text"})
                                    <span class="text-danger"></span>
                                </div>
                            <div style="padding-top: 12px;margin-right: 8pc;" class="d-flex justify-content-end">
                                    <a href="@Url.Action("Login")" style=" background-color: #272727; border-color: #272727; border-radius: 10px;margin-right: 2pc" class="btn btn-primary">Volver</a>
                                <button type="submit" style="background-color: #272727; border-color: #272727; border-radius: 10px" class="btn btn-primary">Registrar</button>
                            </div>

                            </div>
                        }


                    </div>
                </div>

        </div>
    </div>
</section>
